Passos do CRISP-DS:

### Problema de Negócio: 
   Esta etapa tem como objtive receber o problema de negócio que será resolvido. É nesta 
   etapa que é recebido a pergutna ou o pedido feito pelo dono do problema, que no caso
   deste projeto, é o CFO da rede Rossmann.

### Entendimento de Negócio: 
   Esta etapa tem como objetivo entender a dor do dono do problema e qual a sua real 
   necessidade. Nesta etapa podem surgir protótipos da solução para validar com o dono do  
   problema o que ele deseja como solução.

### Coleta de Dados: 
Esta etapa tem como objetivo realizar a coleta dos dados, buscando eles nas tabelas do
   (s) banco(s) de dados da empresa.

### Limpeza dos Dados: 
   Esta etapa tem como objetivo remover toda e qualquer sujeira nos dados. Um dado sujo  
   pode ser entendido como um dado que irá atrapalhar a performance final do algoritmo de   
   Machine Learning. Tomando o cuidado entender bem o fenômeno que está sendo estudado   
   para que não sejam removidos dados importantes para a modelagem do problema.

### Exploração dos Dados:
   Esta etapa tem como objetivo entender os dados e como eles se relacionam entre si.   
   Normalmente, são criadas hipóteses acionáveis de negócio que são posteriormente   
   validadas utilizando técnicas de análise de dados. Além da criação de novas features  
   que serão utilizadas na etapa de Modelagem de Dados.

### Modelagem dos Dados: 
   Esta etapa tem como objetivo preparar os dados para que eles sejam utilizados pelos   
   algoritmos de Machine Learning. É nesta etapa que são feitos as transformações e  
   encodign dos dados, a fim de facilitar o aprendizado do algoritmo utilizado.

### Aplicação de Algoritmos de Machine Learning: 
Esta etapa tem como objetivo selecionar e aplicar algoritmos de Machine Learning nos dados preparados nas etapas anteriores. É nesta etapa que são selecionados os algoritmos e feito a comparação de performance enetre eles, para selecionar o algoritmos que melhor performou como algoritmo final.

### Avaliação de Performance: 
Esta etapa tem como objetivo verificar a performance do algoritmo selecionado na etapa anterior com os resultados atuais, ou base line atual. Neste momento é feito a tradução da performance do algoritmo para perfomance de negócio. Ou seja, quanto a solução criada tratrá de retorno financeiro para a empresa. Caso a performance seja aceitável, o algoritmo é publicado e é retornado para a etapa de entendimento de negócio novamente, a fim entender melhor possíveis lacunas e assim melhorar a performance do algoritmo selecionado. Caso a performance não seja aceitável, o algoritmo não é publicado e é retornado para a etapa de entendimento de negócio para fazer uma nova iteração e assim melhorar a performance da solução.

## 1- Input (Problema do negocio)
    a. Problema do nogocio
    b. Questao que serao respondidas
    c. Dados de entrada/ fonte de dados

## 2- Output (Produto de Dados)
    a. Analise do dados
    b. Algoritimos de machine learning
    c. Dash board em algumas ferramentas de visualizacao

## 3- Task (Tarefas)
    a. Plano de Execuçao
    b. Ferramentas

# PA 006 Bank Marketing Strategy

# Planejamento da Solucao

## Input

vove fio contratado como cientista de dados consultor para criar um produto de dados que cria uma sguimentacao de clientes que direcionara a estrategia de marketing e os resultados eserados de seu trabalho de consultoria sao os seguintes :

    1. Criar uma seguimentacao de clientes baseados em criterios de selecao.
    2. Tornar a sguimentacao acessivel para o time de operacoes.
    3. Ensinar o time de Operacao de como usar a sua solucao.
    4. Transferir o conhecimento para os cientistas de Dados da Internacional bank.
    5. Recomendar  de 2 a 3 alavancas de negocio para cada seguimento de clientes.

## Output

    - Ferramentas
      * Metabase
      * Streamlit
    - URL para o time de operacoes testar
    - Downloading dos dados selecionados

## Tasks

- Descrição dos dados
    * Substituição de NA's.
    * Detecção de Outliers.
- EDA
    * Análise Univariada
    * Análise Bivariada
    * Detecação de outliers
    * Seleção de Features
    * Estudo do Espaço
    * Definição do Embedding
- Treinamento dos algoritmos de ML.
    * Análise de Performance
    * Análise de Clustering.
    * Definição dos número de clustering.
- EDA - Insights
    * Explicação das características dos segmentos
- Tabela para armazenar os clientes clusterizados.

- Criação do notebook de produção.

- Arquitetura da AWS.
    * S3 para armazenar os dados
    * EC2 para armazenar o ETL e a ferramenta de visualização.   
    * DB para armazenar a tabela
    * Cronjob
    * Papermili

# 0.0. IMPORTS

In [13]:
import pandas as pd
import numpy as np
import inflection

## 0.1 Helper Functions

## 0.2 Loanding Data

In [14]:
data = pd.read_csv('dataset/cc_general.csv')
df = data.copy()

# 1.0 Descricao dos Dados

In [15]:
df.head()

,CUST_ID,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
0,C10001,40.900749,0.818182,95.40,0.00,95.4,0.000000,0.166667,0.000000,0.083333,0.000000,0,2,1000.0,201.802084,139.509787,0.000000,12
1,C10002,3202.467416,0.909091,0.00,0.00,0.0,6442.945483,0.000000,0.000000,0.000000,0.250000,4,0,7000.0,4103.032597,1072.340217,0.222222,12
2,C10003,2495.148862,1.000000,773.17,773.17,0.0,0.000000,1.000000,1.000000,0.000000,0.000000,0,12,7500.0,622.066742,627.284787,0.000000,12
3,C10004,1666.670542,0.636364,1499.00,1499.00,0.0,205.788017,0.083333,0.083333,0.000000,0.083333,1,1,7500.0,0.000000,NaN,0.000000,12
4,C10005,817.714335,1.000000,16.00,16.00,0.0,0.000000,0.083333,0.083333,0.000000,0.000000,0,1,1200.0,678.334763,244.791237,0.000000,12

In [16]:
df.columns

Index(['CUST_ID', 'BALANCE', 'BALANCE_FREQUENCY', 'PURCHASES',
       'ONEOFF_PURCHASES', 'INSTALLMENTS_PURCHASES', 'CASH_ADVANCE',
       'PURCHASES_FREQUENCY', 'ONEOFF_PURCHASES_FREQUENCY',
       'PURCHASES_INSTALLMENTS_FREQUENCY', 'CASH_ADVANCE_FREQUENCY',
       'CASH_ADVANCE_TRX', 'PURCHASES_TRX', 'CREDIT_LIMIT', 'PAYMENTS',
       'MINIMUM_PAYMENTS', 'PRC_FULL_PAYMENT', 'TENURE'],
      dtype='object')

## Rename Columns

In [17]:
cols_old = ['CUST_ID', 'BALANCE', 'BALANCE_FREQUENCY', 'PURCHASES',
            'ONEOFF_PURCHASES', 'INSTALLMENTS_PURCHASES', 'CASH_ADVANCE',
            'PURCHASES_FREQUENCY', 'ONEOFF_PURCHASES_FREQUENCY',
            'PURCHASES_INSTALLMENTS_FREQUENCY', 'CASH_ADVANCE_FREQUENCY',
            'CASH_ADVANCE_TRX', 'PURCHASES_TRX', 'CREDIT_LIMIT', 'PAYMENTS',
            'MINIMUM_PAYMENTS', 'PRC_FULL_PAYMENT', 'TENURE']
snakecase = lambda x: inflection.underscore( x )

cols_new = list ( map( snakecase, cols_old ))

df.columns = cols_new

In [18]:
df.columns

Index(['cust_id', 'balance', 'balance_frequency', 'purchases',
       'oneoff_purchases', 'installments_purchases', 'cash_advance',
       'purchases_frequency', 'oneoff_purchases_frequency',
       'purchases_installments_frequency', 'cash_advance_frequency',
       'cash_advance_trx', 'purchases_trx', 'credit_limit', 'payments',
       'minimum_payments', 'prc_full_payment', 'tenure'],
      dtype='object')

## 1.2. Data Dimensions

In [19]:
print( 'Number of rows: {}'.format(df.shape[0]))
print( 'Number of columns: {}'.format(df.shape[1]))

Number of rows: 8950
Number of columns: 18

## 1.3. Data Types

In [20]:
df.dtypes

cust_id                              object
balance                             float64
balance_frequency                   float64
purchases                           float64
oneoff_purchases                    float64
installments_purchases              float64
cash_advance                        float64
purchases_frequency                 float64
oneoff_purchases_frequency          float64
purchases_installments_frequency    float64
cash_advance_frequency              float64
cash_advance_trx                      int64
purchases_trx                         int64
credit_limit                        float64
payments                            float64
minimum_payments                    float64
prc_full_payment                    float64
tenure                                int64
dtype: object

## 1.4. Check NA

In [21]:
df.isna().sum()

cust_id                               0
balance                               0
balance_frequency                     0
purchases                             0
oneoff_purchases                      0
installments_purchases                0
cash_advance                          0
purchases_frequency                   0
oneoff_purchases_frequency            0
purchases_installments_frequency      0
cash_advance_frequency                0
cash_advance_trx                      0
purchases_trx                         0
credit_limit                          1
payments                              0
minimum_payments                    313
prc_full_payment                      0
tenure                                0
dtype: int64

## 1.5. Fillout NA

## 1.6. Change Data Types

## 1.7. Descriptive Statistics

## 1.7.1. Numerical Atributes

## 1.7.2. Categorical Atributes

# 2.0 Data Filtering

# 3.0. - FEATURE ENGINEERING

## 3.1. Mapa Mental de Hipoteses

## 3.2. Criacao das Hipoteses

# EDA Space Study

# Data Preparation

# Feacture DSElection

# Hiperparameter Fine Tunesing

# Machine Leanning

# Clustering analistic

# EDA insighist Reports

# Deploy To Production